<div class="example-container">
  <mat-form-field class="dropDownStock">
    <mat-select placeholder="Choose a stock symbol" [(ngModel)]="selectedSymbol">     
        <mat-option
          *ngFor="let stock of topStockSymbols"
          [value]="stock">
          {{stock}}
        </mat-option>
    </mat-select>
    <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
  </mat-form-field>

  <mat-form-field class="thresholdInput">
    <input 
      matInput 
      type="number" 
      placeholder="threshold" 
      min=0 
      [(ngModel)]="threshold">
    <!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
  </mat-form-field>

  <mat-form-field >
      <input 
        type="number" 
        matInput 
        placeholder="# of data points" 
        min=0 
        [(ngModel)]="numOfPoints">
      <!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onBtnShowClicked()">Show</button>
</div>
